<div class="add-transaction-container">
  <h2>Adicionar Transação</h2>
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="description">
      <mat-error *ngIf="transactionForm?.get('description')?.invalid">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Valor</mat-label>
      <input matInput formControlName="amount" type="number">
      <mat-error *ngIf="transactionForm?.get('amount')?.invalid">Valor inválido</mat-error>
    </mat-form-field>

    <mat-radio-group formControlName="type">
      <mat-radio-button value="E">Entrada</mat-radio-button>
      <mat-radio-button value="S">Saída</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="fill">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="transactionForm?.get('date')?.invalid">Data inválida</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Adicionar</button>
  </form>
</div>
