<header>
  <mat-toolbar color="primary">
    <span class="toolbar-title">NG Money</span>
    <button mat-icon-button class="menu-button" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</header>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpened">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span class="nav-item">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/transactions" routerLinkActive="active">
        <mat-icon>list</mat-icon>
        <span class="nav-item">Lista de Transações</span>
      </a>
      <a mat-list-item routerLink="/add" routerLinkActive="active">
        <mat-icon>add</mat-icon>
        <span class="nav-item">Adicionar Transação</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer">
  <p>&copy; 2024 NG Money. Todos os direitos reservados.</p>
</footer>
