<mat-toolbar color="primary">
  <span class="toolbar-title">Dashboard</span>
</mat-toolbar>

<div class="dashboard-container">

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Gráfico de Transações</mat-card-title>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <!-- Tabela de Transações -->
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Tabela de Transações</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Aqui você pode adicionar uma tabela de transações -->
    </mat-card-content>
  </mat-card>

  <!-- Cards de Informações -->
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Informações Gerais</mat-card-title>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
  </mat-card>
</div>
