

.header {
  background-color: #1976d2;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-title {
  font-size: 1.5rem;
}

.menu-button {
  color: white;
}


.footer {
  background-color: #1976d2;
  color: white;
  padding: 10px;
  text-align: center;
}


.transaction-list {
  margin-top: 20px;
}

.add-transaction-form {
  margin-top: 20px;
}

.transaction-form {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
