@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.dashboard {
  display: flex;
}
